<div>
    <img src="<%= albumCover %>" alt="Art for <%= albumName %>"/>
    <div>
        <h3><%= trackName %></h3> by <h4><%= artist %>
        <iframe height="40px" src="<%= previewLink %>"></iframe>
    </div>
</div>