<li class="playlist">
    <img src="<%= image %>" alt="Art for <%= name %>"/>
    <div class="playlist-text">
        <h4><%= name %></h4><p><%= total %> Tracks</p>
        <a href="<%= playerLink %>" target="_blank">Goto Player</a>
    </div>
</li>